html {
    user-select: none;
}

body {
    margin: 0;
}

#map {
    float: left;
}

#svg {
    position: relative;
    height: 100vh;
    max-height: 1350px;
    max-width: 800px;
    overflow: hidden;
}

#loading {
    font-family: Arial;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    font-size: 1rem;
}

#key {
    border-radius: 10px;
    font-family: Arial;
    z-index: 1000;
    position: absolute;
    padding: 10px;
    bottom: -2px;
    left: 0;
    margin: 0;
    background-color: lightgrey;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    #key {
        background-color: transparent !important;
        backdrop-filter: blur(5px) !important;
    }
}

#greater {
    display: flex;
    justify-content: space-between;
}

.control {
    outline: 0;
    padding: 5px;
    width: 48%;
    justify-content: space-between;
    margin-top: 10px;
    float: left;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.active {
    background-color: #F2F4F4;
    box-shadow: 1px 1.5px rgba(0, 0, 0, 0.2);
}

#key li object,
#key li p {
    float: left;
}

#key li object {
    width: 2vw;
    min-width: 30px;
    margin-right: 10px;
}

#key li {
    display: flex;
}

#key li p {
    font-size: 1rem;
    display: flex;
    align-items: center;
    float: left;
    margin: 5px;
}

#info {
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Arial;
    position: absolute;
    width: 50%;
    min-width: 200px;
    display: inline-block;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: white;
    font-size: 1rem;
}

#box {
    display: flex;
    height: 4vw;
    min-height: 35px;
}

#title {
    display: flex;
    align-items: center;
    float: left;
    font-weight: bold;
    width: 100%;
}

#title:before {
    content: '';
    display: inline-block;
    width: 4.5vw;
    min-width: 40px;
}

.second {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    table-layout: fixed;
    font-family: Arial;
    background: white;
    margin-top: 10px;
    font-size: calc(15px + 0.1vw) !important;
}

.second {
    display: none;
}

.second td,
.second th {
    height: 50px;
    text-align: center;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

table {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}


@media screen and (max-width: 650px) {

    #svg {
        height: 60vh;
        touch-action: none;
        pointer-events: none;
    }

    #info {
        display: none;
    }

    .first {
        display: none;
    }

    .second {
        display: table;
    }

    #loading,
    #key li p,
    #info {
        font-size: calc(13px + 0.1vw) !important;
    }
}

#hex {
    position: absolute;
    float: left;
    height: 4vw;
    min-height: 35px;
}

.status {
    left: 7vh;
    margin: 10px 0;
}

.bar {
    display: flex;
    width: 100%;
    height: 2vw;
    min-height: 20px;
    max-height: 25px;
    background: lightgrey;
}